div {
  display: flex;
  width: 700px;
  margin: 50px auto;
  padding: 10px;
}

.ingry {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  width: 200px;
  line-height: 70px;
  margin: 0 20px;
  padding: 0;
}

.cost  {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  width: 450px;
  line-height: 70px;
  margin: 0 20px;
  padding: 0;
}

