<div>
  <app-button-add [icon]="ingredient.link" (add) = "onAdded()"></app-button-add>
  <p class="ingry">{{ ingredient.ingredient }}</p>
  <p class="ingry">X {{ ingredient.count }}</p>
  <p class="cost">Цена: {{ ingredient.cost }} сом.</p>
  <strong class="cost">Сумма: {{ ingredient.sum }} сом.</strong>
  <app-button-delete (delete) = "onDelete()"></app-button-delete>
</div>
