<div class="constructor">
  <div class="ingredient">
    <h2 class="ing-title">Ingredients:</h2>
    <app-ingredient
      *ngFor="let ingredient of arrayOfIngredients; let i = index"
      [ingredient]="ingredient"
      (add)="onAddedCount(i)"
      (delete)="onDeleteCount(i)"
    ></app-ingredient>
    <h3 class="price">Price: {{ getPrice() }} сом.</h3>
  </div>
  <div class="my-burger">
    <h2>Burger:</h2>
    <div class="Burger">
      <div class="BreadTop">
        <div class="Seeds1"></div>
        <div class="Seeds2"></div>
      </div>
      <app-ingredient-item
        *ngFor="let newStyleClassName of arrayOfStyleClassNames"
        [styleClassName]="newStyleClassName"
      ></app-ingredient-item>
      <div class="BreadBottom"></div>
    </div>
  </div>
</div>
